.PE-content {
    flex: 1;
    z-index: 1; /* Ensure the content is above the background image */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white; /* White text for readability on the image */
    position: absolute;
    top: 22%;
    left: 20%;
    transform: translateX(-50%); /* Center the content horizontally */
  }
  
  .PE-paragraph1, .PE-nav-heading{
    width: 100%;
    max-width: 490px; /* Adjust as needed for your layout */
   text-align: left;
   margin-top: -10px; /* Remove top margin to align with heading */
  
  }
  .PE-nav-heading {
    color: #FFFAFA;
    font-size: 66px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 83px;
    word-wrap: break-word;
    white-space: nowrap;
  
  }
  .PE-paragraph1{
    color: #FEFEFF; /* Ensure paragraph text color matches heading */
    margin-top: 30px; /* Remove top margin to align with heading */
font-size: 18px;
font-family: Poppins;
font-weight: 400;
word-wrap: break-word
  }
  .PE-overlay-content {
    position: relative;
    top: 20vh; /* Adjust positioning as needed */
     left: 11%; 
    transform: translate(-10%, -20%);
    text-align: center;
    color: #fff;
    margin-bottom: 20vh;
  }
  
  .PE-heading3 {
    margin-bottom: 10px; /* Add space between heading and containers */
    text-align: center;
    font-size: 48px;
font-family: Outfit;
font-weight: 700;
line-height: 55px;
word-wrap: break-word
  
  
  }
  .PE-heading-part11 {
    color: #070707; /* First color */
    font-weight: 700;
  }
  
  .PE-heading-part22 {
    color: #2a4ef0; /* Second color */
    font-weight: 700;
  }
  .PE-paragraph2{
    font-size: 18px; /* Adjust as needed */
    color:  rgba(0, 0, 0, 0.60);
    font-weight: 400;
    margin: 25px 0;
font-size: 18px;
font-family: Poppins;
word-wrap: break-word
  }
  .PE-paragraph3{
    font-size: 18px; /* Adjust as needed */
    color:  rgba(0, 0, 0, 0.60);
    font-weight: 400;
    margin: 25px 0;
font-size: 18px;
font-family: Poppins;
word-wrap: break-word
   
  }
  .PE-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Set up 5 equal columns */
    gap: 0; /* Space between containers */
    margin: 0 200px;
    justify-content: center; /* Align the grid to the left */
    margin-bottom: 90px;
  }
  
  .PE-icon-container {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 160px;
    height: 150px;
    flex-shrink: 0;
    padding: 15px;
    border: 1px solid #f9f9f9;
    border-radius: 8px; 
    background-color: #eef3fe;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.11);
  }
  
  .PE-text {
    margin: 0;
    padding-top: 10px; 
    padding-left: 5px;
    text-align: center;
    max-width: 100%;
    color: black;
font-size: 18px;
font-family: Poppins;
font-weight: 400;

/* word-wrap: break-word;
position: relative;
bottom: 20px;
left: 7px; */
   
  }
  .PE-icon-container:hover {
    background-color: #3498db; /* Primary color on hover */
    border-color: #2980b9; /* Darker shade of primary color */
    transform: scale(1.05); /* Slightly increase the size */
  }
  .PE-icon-container:hover .PE-text {
    color: #fff; /* Change text color to white on hover */
  }
  .PE-image-container2 {
    display: flex;
    position: relative;
    width: 100vw; /* Adjust width as needed */
    top: 3vh;
    height: 90vh;;
    overflow: hidden;
  
    /* margin: 0 auto; Center the container */
  }
  .PE-image-container22 {
    display: flex;
    position: relative;
    width: 100vw; /* Adjust width as needed */
    top: 3vh;
    height: 60vh;
    overflow: hidden;
  
    /* margin: 0 auto; Center the container */
  }
  .PE-overlay-content1 {
    display: flex;
    align-items: center; /* Aligns items vertically centered */
    justify-content: space-between; /* Ensures space between text and image */
  margin-bottom: 10vh;
  margin-right: 11vw;
  }
  
  .PE-text-container {
    max-width: 60%; /* Adjust this value as needed */
    text-align: left; /* Align text to the left */
  
    margin-left: 6vw; /* Push the text container to the right */
 
  
  }
  .PE-heading4 {
    margin-bottom: 10px; /* Add space between heading and containers */
    text-align: left;
    font-size: 48px;
font-family: Outfit;
font-weight: 700;
line-height: 55px;
word-wrap: break-word
  }
  .PE-heading-part111 {
    color: #070707; /* First color */
    font-weight: 700;
  }
  
  .PE-heading-part222 {
    color: #2a4ef0; /* Second color */
    font-weight: 700;
  }
  .PE-paragraph21{
    font-size: 18px; /* Adjust as needed */
    color: rgba(0, 0, 0, 0.60);
    font-weight: 400;
    line-height: 1.5; /* Adjust line height as needed */
    margin: 35px 0;
font-family: Poppins;
word-wrap: break-word
  }
  .PE-paragraph211{
    font-size: 18px; /* Adjust as needed */
    color: rgba(0, 0, 0, 0.60);
    font-weight: 400;
    line-height: 1.5; /* Adjust line height as needed */
    margin: 35px 0;
font-family: Poppins;
word-wrap: break-word
  }
  .PE-paragraph212{
    font-size: 18px; /* Adjust as needed */
    color: rgba(0, 0, 0, 0.60);
    font-weight: 400;
    line-height: 1.5; /* Adjust line height as needed */
    margin: 35px 0;
font-family: Poppins;
word-wrap: break-word
  }
  .PE-dp-image{
    width: 28vw; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
margin-left: 12vw;

  }
  .PE-dp-image2{
    width: 28vw; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
margin-left: 10vw;

  }
  .PE-overlay-content12 {
    display: flex;
    align-items: center; /* Aligns items vertically centered */
    justify-content: space-between; /* Ensures space between text and image */
  margin-bottom: 0vh;
  margin-right: 15vw;
  white-space: nowrap;
  }
  .PE-text-container2 {
    max-width: 60%; /* Adjust this value as needed */
    text-align: left; /* Align text to the left */
  
    margin-left: 12vw; /* Push the text container to the right */
 
  
  }
  .PE-overlay-content2 {
    display: flex;
    /* position: relative; */
    align-items: center; /* Aligns items vertically centered */
    justify-content: space-between; /* Ensures space between text and image */
  margin-bottom: 13vh;
  
  }
  
  .PE-text-container1 {
    max-width: 60%; /* Adjust this value as needed */
    text-align: left; /* Align text to the left */
    margin-left: 12vw; /* Push the text container to the right */
margin-top: 4vh;
   
  }
  .PE-heading5 {
    margin-bottom: 10px; /* Add space between heading and containers */
    text-align: left;
    font-size: 48px;
font-family: Outfit;
font-weight: 700;
line-height: 55px;
word-wrap: break-word
  }

  .PE-dp-image1{
    width: 28vw; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
  margin-right: 13vw;
  }
  
  .PE-image-container2{
    width: 100vw;
    height: auto;
    margin-bottom: 80px;
  
  }
  .PE-my-image1 {
    position: absolute;
    top: 3px;
    left: 0px;
    display: flex;
    width: 100%; /* Ensure the image fills the container */
    height: 100%;
    object-fit: cover;
    z-index: 0;
    margin-top: 30px;
    border-radius: 8px;
  
  }
  .PE-overlay-content3{
 margin-top: 18vh;
 margin-left: 29vw;
    transform: translate(-10%, -20%);
    text-align: center;
    align-items: center;
    color: #fff;
 
  }
  .PE-overlay-content33{
margin-top: 15vh;
margin-left: 19vw;
    transform: translate(-10%, -20%);
    text-align: center;
    color: #fff;
   
  }
  .PE-container-row {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 40px; /* Adjust the gap between containers as needed */
  
   
  }
  
  .PE-container {
    width: 25%; /* 100% / 4 containers */
    height: 20vh;
    background: #076AFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  .PE-icon-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  
  .PE-icon {
    position: relative;
    width: 40px; /* Adjust based on your needs */
    height: 40px; /* Adjust based on your needs */
    margin-top: 10px; /* Space above icons */
  }
  
  .PE-inner-icon {
    width: 24px; /* Adjust based on your needs */
    height: 24px; /* Adjust based on your needs */
    background: #EFF4FE;
    position: absolute;
  }
  
  .PE-inner-icon:nth-child(1) {
    left: 5.47px;
    top: 5.47px;
  }
  
  .PE-inner-icon:nth-child(2) {
    left: 1.56px;
    top: 1.56px;
  }
  
  .PE-icon-text {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    bottom: 3vh;
    color: white;
font-size: 18px;
font-family: Poppins;
font-weight: 400;
    /* margin-top: auto; Ensures text is below the icons */
  }
  @media (min-width: 1921px) and (max-width: 2565px) {
    .PE-overlay-content {
      margin-top: -160px;
    }
    .PE-text{
      white-space: nowrap;
   left: 40px;
   top: 10px;
    }
    .PE-icon-container {
      height: 15vh;
    }
    .PE-grid-container {
      margin: 0 340px;
      margin-bottom: 90px;
    }
    .PE-dp-image {
margin-left: 650px;
    }
    .PE-text-container {
margin-left: 52vw;
    }
    .PE-text-container1 {
      margin-left: 650px;
    }
    .PE-dp-image1 {
      margin-right: 640px;
    }
    .PE-overlay-content3 {
      left: 36%;
    }
    .PE-container {
      height: 11vh;
    }
    .PE-overlay-content33 {
      left: 33%;
    }
    .PE-icon-wrapper {
      margin-top: 40px;
    }
    .PE-icon {
      top: -25px;
    }
    .PE-overlay-content1 {
      top: 60px;
    }
    .PE-overlay-content2 {
      top: 60px;
    }
  }
  /* @media (min-width: 1410px) and (max-width: 1920px) {
    .PE-overlay-content {
      margin-top: -20vh;
    }
    .PE-icon-container {
      width: 11vw;
      height: 14vh;
    }
    .PE-text{
     margin-top: -10px;
     white-space: nowrap;
     margin-left: -15px;
    }
    .PE-grid-container {
      margin: 60px 200px;
    }
     .PE-text-container{
      margin-left: 800px;
     }
     .PE-dp-image{
      margin-left: 200px;
     }
     .PE-dp-image1{
      width: 440px;
   margin-right: 270px;
      margin-top: 50px;
     }
     .PE-text-container1{
      margin-right: 100px;
      margin-top: 40px;
      white-space: nowrap;
     }
     .PE-overlay-content2 {
      margin-left: -200px;
     }
     .PE-heading5{
      margin-left: 100px;
     }
     .PE-paragraph21{
      margin-left: 00px;
     }
     .PE-paragraph211{
      margin-left: 100px;
    }
    .PE-image-container2{

    }
    .PE-overlay-content3{
      margin-top: 30px;
    }
    .PE-image-container22{
      margin-left: 260px;

    }
    .PE-overlay-content33{
margin-left: -50px;
    }
    .PE-paragraph212{
margin-left: 100px;    
    }
     }
     */